.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form_container {
  width: 30%;
  margin: 0 auto;
  background-color: rgba(50, 52, 68);
  color: #ffffff;
  border-radius: 15px;
  padding: 1em;
  opacity: 0.8;
}

.form_container input[type='submit'] {
  border-radius: 8px;
  background-color: rgba(28, 138, 66);
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type='submit']:hover {
  background-color: rgba(28, 138, 66, 0.7);
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: #376cc7;
  font-weight: bold;
}

.preview_vacant_images {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.preview_vacant_images img {
  width: 100px;
  height: 100px;
  margin-left: 1em;
}